<%= render 'welcome/nav' %>




<!-- <div class ="container-fluid">
 --><div class='row text-center lead'><h1> Share your Premiere Events </h1>
  	<p class="lead"> Network & Get Reviews 
	<%#= current_user.first_name if current_user %></p>
</div>

<div class="section-top" id ="body-home">

</div>


<div class="container">
<div class="row text-center">
	<div class='col-md-4'>
		<h3> <i class = 'glyphicon glyphicon-user'></i> <%= link_to 'Producers', users_path %></h3>
			<p>Share your masterpiece to the public, list your screening events, get reviews and network</p>
	</div>
	<div class='col-md-4'>
		<h3><i class = 'glyphicon glyphicon-calendar'></i> Premiere Events</h3>
			<p>View the list of premiere events around you or list your own! </p>
	</div>
	<div class='col-md-4'>
		<h3><i class = 'glyphicon glyphicon-film'></i> <%= link_to 'Screening Reviews', movies_path %></h3>
			<p>Sign up and to assist to screenings, be part of Phirst Motion community and submit a review of the movie watched</p>
	</div>
</div>

</div>
</div>
















	



