<%= render 'welcome/nav' %>



<div class='row text-center lead'><h1> Share your Premiere Events </h1>
  
    <p class="lead"> Get Reviews of your Movie

    <%#= current_user.first_name if current_user %></p>
</div>

	



<div class="section-top" id ="body-home">



</div>



<div class="row text-center">
<div class='col-md-4'>
<h3> <i class = 'glyphicon glyphicon-user'></i><%= link_to 'Producers', users_path %></h3>
<p>You are a new producer and want to share your masterpiece to the public, share your premiere events and get reviews balabalabalabalabaabalabalabalababalabalabalabalabaalabaa</p>
</div>
<div class='col-md-4'>
<h3> Premiere Events </h3>
<p>balabalabalabalabalabalabalabalabalabaaba alabalabalabalabalabalabalabalabalabaaba alabalabalabalabalabalabalabalabalabaaba</p>
</div>
<div class='col-md-4'>
<h3> <i class = 'glyphicon glyphicon-film'></i><%= link_to 'Screening Reviews', movies_path %></h3>
<p>Went to a Premiere and wants to submit a review of the movie watched to take part of the community balabalabalabalabalabalabalabalabalabaaba</p>
</div>
</div>
</div>
</div>

</div>

















	



