<%= render 'welcome/nav' %>




	
	<div class='row text-center'><h2>Movies worth watching</h2>
    <p class ='lead'> Thats the welcomepage where there will be more text</p>
    <p>Hello <%= current_user.first_name if current_user %></p>
</div>


<div class="section-top" id ="body-home">
</div>



<div class="row text-center">
<div class='col-md-4'>
<h3> <i class = 'glyphicon glyphicon-user'></i><%= link_to 'Producers', users_path %></h3>
<p>balabalabalabalabaabalabalabalababalabalabalabalabaalabaa</p>
</div>
<div class='col-md-4'>
<h3> </h3>

</div>
<div class='col-md-4'>
<h3> <i class = 'glyphicon glyphicon-film'></i><%= link_to 'Movies playing', movies_path %></h3>
<p>balabalabalabalabalabalabalabalabalabaaba</p>
</div>
</div>
</div>
</div>

</div>

















	



