<%= form_for([@movie, @movie.reviews.build]) do |f| %>



<div class="form-group">
    <%= f.text_area :body %>
</div>

   <%=  f.submit 'Post', :class =>'btn btn-md btn-block' %>

<% end %>

<%#= form_for [@movie, Review.new] do |f| %>
   
        <%#= f.label :body, "New Review:" %>
        <%#= f.text_area :body %>
</br>

    <%#= f.submit "Add your Review!" %>
<%# end %>


