
<p>
  <strong>User:</strong>
   <%= review.user.first_name %>

</p>
 
<p>
  <strong>Review:</strong>
  <%= review.body %>
</p>

<% if review.user == current_user %>
		<%= link_to 'edit review', edit_movie_review_path(@movie,review) %>
	<% end %>

<p>
  <%= link_to 'Destroy Review', [review.movie, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>