


<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"><%= review.user.first_name %> wrote at <%= review.date_published %></h4>
    <p class="list-group-item-text"> <%= review.body %>    </p>
  
   <%= link_to 'X', [review.movie, review],
               method: :delete,
               data: { confirm: 'Are you sure?' }, :class =>'btn btn-smbtn-block' %>
           
               </a>
</div>





