<h1>Review List</h1>

	<h2><%# @reviews.each do |review| %> </h2>

	<ul>
		<p>Name: <%#= review.user.first_name %>|
		Movie: <%#= review.movie.title %>|
		Review: <%#= review.body %>
		</p>
		
	</ul>
	<%# end %>

	<br>
	<br>


	





